.page-title {
    width: 100%;
    text-align: center;
    background-color: #3498db; /* Azul */
    color: white;
    padding: 20px 0;
    font-size: 24px;
}

.left-panel {
    background-color: #e6f2ff; /* Cor azul mais clara */
    width: 20%;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.left-panel a {
    display: block;
    padding: 8px 15px; /* Diminuímos um pouco o padding */
    text-decoration: none;
    color: rgb(9, 2, 2);
    margin: 3px 0; /* Espaçamento vertical reduzido */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.left-panel a:hover {
    background-color: #d5e5f5; /* Cor azul um pouco mais escura ao passar o mouse */
}


.menu-item {
    margin-bottom: 15px;
    cursor: pointer;
}

.menu-item-content {
    display: none;
}

.central-content {
    display: none;
    padding: 20px;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #e6f2ff; /* cor suave de azul */
    padding: 20px 0;
}

.sidebar .menu-item {
    text-align: center;
    margin-bottom: 10px; /* espaço reduzido entre os itens */
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.content form {
    display: none;
}

.content form.active {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-item:hover .dropdown-content {
    display: block;
}
